{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "chrome": "40"
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ]
}
