{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "airbnb-base/rules/strict", "airbnb/rules/react"],
  "env": {
    "browser": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "global-require": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",

    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "react/forbid-prop-types": "warn",
    "react/no-unused-prop-types": "warn",
    "react/prop-types": "warn",
    "react/self-closing-comp": "warn"
  }
}
